[itunes]
# Local iTunes library file
music_library = ~/Music/iTunes/iTunes Music Library.xml
# List of playlists to synchronize
playlists =
	MyPlaylist1
	MyPlaylist2
	MyPlaylist3
# List of playlists to synchronize music from, but don't add the playlists themselves
playlists_ghosts =
	MyLongPlaylist

[xspf]
# Root of your library
library_root = /Volumes/music
# List of playlists to synchronize
playlists =
	/Volumes/music/playlists/A.xspf
	/Volumes/music/playlists/B.xspf
	/Volumes/music/playlists/C.xspf
	/Volumes/music/playlists/D.xspf
	/Volumes/music/playlists/E.xspf
	/Volumes/music/playlists/F.xspf
# List of playlists to synchronize music from, but don't add the playlists themselves
playlists_ghosts =
	/Volumes/music/playlists/Playlist.xspf
	/Volumes/music/playlists/Playlist2.xspf

[checks]
# Whether to check if artwork is present or not in tracks (True/False)
# Checking artwork will slow down processing and requires mutagen package
check_artwork = True

[phone]
# Destination of music on the phone
# A 'itunes-sync' subfolder will be created with the synced music
music_destination = /media/phablet/D76D-C153/Music/
# SSH user+host to connect to
ssh_destination = phablet@ubuntu-phablet
